<h1>Exercise 1</h1>

<form (submit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" formControlName="productName" id="productName" placeholder="Product Name" />
    <div class="error" *ngIf="form.get('productName')?.touched && form.get('productName')?.invalid">
      <div *ngIf="form.get('productName')?.errors?.['required']">The name of the product is required.</div>
      <div class="errorLength" *ngIf="form.get('productName')?.errors?.['minlength'] || form.get('productName')?.errors?.['maxlength']">
        The name of the product must be between 5 and 20 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" formControlName="productPrice" id="productPrice" placeholder="Product Price" />
    <div class="error" *ngIf="form.get('productPrice')?.touched && form.get('productPrice')?.invalid">
      <div *ngIf="form.get('productPrice')?.errors?.['required']">The name of the product is required.</div>
      <div class="errorPrice" *ngIf="form.get('productPrice')?.errors?.['min'] || form.get('productPrice')?.errors?.['max']">
        The Price of the product must be a number between 5 and 20 characters
      </div>
    </div>
  </div>
  <button type="submit">Send</button>
</form>
<div class="container">
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
